[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pytest = "*"
celery = "*"
python-multipart = "*"
azure-storage-blob = "*"
azure-identity = "*"
pydantic-settings = "*"
azure-servicebus = "*"
kombu = "*"
azure-ai-formrecognizer = "*"
azure-maps-search = "*"
azure-mgmt-maps = "*"

[dev-packages]
httpx = "*"

[requires]
python_version = "3.11"
